.login-card {
    max-width: 400px;
  }
  
.image{
    width:120px;
    height:120px;
}
  
  .center-content{
    text-align: -webkit-center;
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: left;
  }
  
  .login-full-width {
    width: 100%;
  }
  
  .loginbtn{
    width: 80%;
    left: 10%;
    // background-color: blue;
  }

  .form-fields{
    text-align: left;
  }
